:root {
    --green-lighter: #dff1e7;
    --green-medium: #0c7d69;
    --red: #d73c3c;
    --white: 	#ffffff;
    --grey-medium: #87a3a6;
    --grey-darker: #2b4246;
  }
  
  * {
    margin: 0px;
    border: none;
    padding: 0px;
    font-family: "Karla";
  }
  
  body {
    background-color: var(--green-lighter);
  }
  
  .section-container {
    padding: 16px;
  }
  
  .table-container {
    background-color: var(--white);
    margin-top: 8px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .name-container {
    flex: 1;
  }
  
  .first {
  
    font-size: 16px;
  }
  
  .last {
    margin-top: 20px;
    flex: 1;
  }
  
  .button-class {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--green-medium);
    color: var(--white);
  
    padding-top: 18px;
    padding-bottom: 18px;
  
    width: 100%;
  
    border-radius: 16px;
    cursor: pointer;

    font-size: 30px;
    border: black;
  }
  
  .button-class-clean {
    color: black;
  
    padding-top: 18px;
    padding-bottom: 18px;
  
    width: 100%;
  
    border-radius: 16px;
    cursor: pointer;
  
    opacity: 1;

    font-size: 30px;
  }
  
  .universal-container {
    margin-top: 20px;
  }
  
  .margin-small {
    margin-top: 8px;
  }
  
  .label-container {
    color: var(--grey-darker);
  }
  
  .span-container {
    color: var(--green-medium);
  }
  
  .input-container {
    border: 1px solid var(--grey-darker);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
  
    font-size: 16px;
  
    width: 100%;
    box-sizing: border-box;
  }
  
  .message-input-container {
    border: 1px solid var(--grey-darker);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
  
    font-size: 16px;
  
    width: 100%;
    box-sizing: border-box;
  }
  
  .last-input-container {
    margin-right: 8px;
  }
  
  .eroare-checkbox-consent {
    color: var(--red);
    margin-top: 4px;
    display: none;
  }
  
  /*--- Query Type --- */
  
  
  .query-type-option-container {
    border: 1px solid var(--grey-darker);
    /* linia asta de jos face ca cele 2 div-uri sa ocupe cate jumatate din spatiul disponibil */
    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
  }
  
  .last-container {
    display: flex;
  }
  
  .section-container {
    padding: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .eroare-input {
    display: none;
    color: var(--red);
  }
  
  .eroare-input-second {
    display: none;
    color: var(--red);
  }
  
  .eroare-email {
    display: none;
    color: var(--red);
  }
  
  .eroare-query {
    display: none;
    color: var(--red);
  }
  
  .eroare-message {
    display: none;
    color: var(--red);
  }
  
  .eroare-query-fieldset {
    color: var(--red);
    margin-top: 4px;
    display: none;
  }

  .margin-top-eror{
    margin-top: 4px;
  }

  .eroare-zodiac-name{
    display: none;
  }
  
  @media (min-width: 600px) {
    .first {
      display: flex;
      gap: 16px;
    }
  
    .last {
      margin-top: 0px;
    }
  
    .query-type-options {
      display: flex;
      gap: 16px;
    }
  }
  
/*a doua pagina*/

.second-page{
  display: none;
  position: relative;
}

.button-reset-secound-page{
  margin-top: 16px;

  background-color: transparent;
  color: black;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;

  border-radius: 4px;
  cursor: pointer;
}

.center-the-page{
  text-align: center;
}

.margin-top{
  margin-top: 12px;
}